body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: "Comic Sans MS";
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_Text1 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#Table2
{
   border: 1px #C0C0C0 solid;
   background-color: transparent;
   border-spacing: 0px;
}
#Table2 td
{
   padding: 0px 0px 0px 0px;
}
#Table2 td div
{
   white-space: nowrap;
}
#Table2 .cell0
{
   background-color: transparent;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: middle;
   width: 198px;
   height: 32px;
}
#Table2 .cell1
{
   background-color: transparent;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: middle;
   height: 32px;
}
#Table3
{
   border: 0px #FFFFFF none;
   background-color: transparent;
   border-spacing: 0px;
}
#Table3 td
{
   padding: 0px 0px 0px 0px;
}
#Table3 td div
{
   white-space: nowrap;
}
#Table3 .cell0
{
   background-color: transparent;
   text-align: center;
   vertical-align: middle;
   height: 48px;
}
#Table3 .cell1
{
   background-color: transparent;
   text-align: center;
   vertical-align: middle;
   height: 51px;
}
#Table1
{
   border: 1px #C0C0C0 solid;
   background-color: transparent;
   border-spacing: 0px;
}
#Table1 td
{
   padding: 0px 0px 0px 0px;
}
#Table1 td div
{
   white-space: nowrap;
}
#Table1 .cell0
{
   background-color: transparent;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: middle;
   width: 198px;
   height: 32px;
}
#Table1 .cell1
{
   background-color: transparent;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: middle;
   height: 32px;
}
#wb_Text2 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#Button1
{
   border: 1px #A9A9A9 solid;
   background-color: #F0F0F0;
   color: #000000;
   font-family: "Comic Sans MS";
   font-weight: normal;
   font-size: 13px;
}
#Button2
{
   border: 1px #A9A9A9 solid;
   background-color: #F0F0F0;
   color: #000000;
   font-family: "Comic Sans MS";
   font-weight: normal;
   font-size: 13px;
}
