body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_Text1 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text2 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#Table1
{
   border: 0px #FFFFFF none;
   background-color: transparent;
   border-spacing: 1px;
}
#Table1 td
{
   padding: 0px 0px 0px 0px;
}
#Table1 td div
{
   white-space: nowrap;
}
#Table1 .cell0
{
   background-color: transparent;
   text-align: center;
   vertical-align: top;
   width: 150px;
   height: 37px;
}
#Table1 .cell1
{
   background-color: transparent;
   text-align: left;
   vertical-align: top;
   height: 37px;
}
#wb_Text3 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#Editbox1
{
   border: 1px #A9A9A9 solid;
   background-color: #FFFFFF;
   color :#000000;
   font-family: "Comic Sans MS";
   font-weight: normal;
   font-size: 13px;
   text-align: left;
   vertical-align: middle;
}
#Button1
{
   border: 1px #A9A9A9 solid;
   background-color: #F0F0F0;
   color: #000000;
   font-family: "Comic Sans MS";
   font-weight: normal;
   font-size: 16px;
}
#wb_Text4 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#wb_Text4:hover
{
   color: #0000FF;
   -webkit-transition: color 500ms linear 0ms;
   -moz-transition: color 500ms linear 0ms;
   -ms-transition: color 500ms linear 0ms;
   transition: color 500ms linear 0ms;
}
#wb_Text4:focus
{
   color: #9932CC;
   -webkit-transition: color 500ms linear 0ms;
   -moz-transition: color 500ms linear 0ms;
   -ms-transition: color 500ms linear 0ms;
   transition: color 500ms linear 0ms;
}
#wb_Text5 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text5 div
{
   text-align: center;
}
